
    <h2> PURCHASE ITEM: <h2>
        
        <h3> ITEM FORM: </h2>
        <form action='/checkout' method="POST">
            <label> Item Name </label>
            <input type="text" name="item">
            <br>
            <label> Item Price </label>
            <input type="text" name="price">
            <br>
            <label> Item Description </label>
            <input type="text" name="description">
            <br>
            <button type="submit" value="submit">Submit</button>
        </form>